{%extends 'all-hood/base.html'%}
{% block content %}
{{block.super}}
<div class="container-fluid" style="position: absolute;padding-left: 280px;" >
    {%for neighbourhoo in neighbourhood%}
        <div class="card text-white bg-primary mb-3" style="max-width: 50rem; text-align: center;">
            <div class="card-body ">
                    <h5 class="card-title">{{ neighbourhoo.name }}</h5>
                    <p class="card-text">{{neighbourhoo.description}}</p>
                    <h2 class="text-center">{{neighbourhoo.location}}</h2>
                    <p class="card-text"><large class=" ">{{neighbourhoo.occupants}}</large></p>
            </div>
            <img class="card-img-bottom" src="{{neighbourhoo.neighbourhood_picture.url}}" alt="Card image cap">
        </div>
        {%empty%}
        <div class="jumbotron">
            <h2 class="text-center">There are no hoods</h2>
        </div>
        {% endfor %}
    
    </div>  
{% endblock %}