{%extends 'all-hood/base.html'%}

 {% block content %}

 <div class="container">

   <div class="row">
     <img src="{{neighbourhood.neighbourhood_picture.url}}"  class="img-responsive" alt="">
   </div>

   <div class="row">
     <h1 class="text-center">{{neighbourhood.name}}</h1>
   </div>

   <div class="row">
        {% autoescape on %}
        {{neighbourhood.name| safe}}
       {% endautoescape %}
   </div>

   <div class="row">
     <p>Posted {{neighbourhood.location}} by {{neighbourhood.profile}}</p>
   </div>

 </div>

 {% endblock %}