{% load bootstrap4 %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Neighbourhood</title>
    {% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/base-hood.css' %}"> {% endblock %}
</head>
<body>
    <div class="container-fluid">
            <form  action="{%url 'new-neighbourhood'%}" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
            
                {% bootstrap_form form%}
                <input type="submit" class="btn btn-success btn-lg" value="Post">
            </form>

    </div>
    
       {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      {% bootstrap_javascript %} {% endblock %}
</body>
</html>